body{
    background: #cccccc;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}
/*cabeçalho*/
header .nav {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: flex-start;
}
header .pgs{
    margin-left: 50px;
}
header .pg{
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-right: 20px;
    font-weight: bold;
}
header .pg:hover{
    color: rgb(122, 122, 122);
}
/*descrição*/
.photo{
    border: 1px #505050;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
}
#title, .sub_title, .post_title{
color: #505050;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: start;   
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 0;
}
.Who_I_am{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 15px;

    
}

.quem_sou_eu{
    text-align: justify;
    font-size: 16px;
    font-family: verdana;
    margin: 0;
    margin-bottom: 15px;
}
a{
    text-decoration: underline;
    color: #505050;
}
/*configuração geral dos posts*/
.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 0;
}

.data{
    font-style: italic;
    font-size: 10px;
    margin-bottom: 15px;
}
/*primeiro post*/

.post{
    background: #fff ;
    padding: 15px;  
    border: 3px solid #505050;  
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post1_1{
    margin: 0;
    text-transform: capitalize;
    text-align: justify;
}
.post1_2{
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}
.post1_image{
    margin:0;
    margin-bottom: 15px;
    width: 50%;
    height: 50%;
    border-radius: 5px;
}

/*post2*/
.post2{
    display: flex;
    align-items: center;
    justify-content: start; 
    width: 100%;
}
.post2_1{
    margin: 0;
    text-align: justify;
    width: 50rem;
}
.post2_image{
    margin-left: 20px;
    margin-right: 20px;
    height: 50%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
/* post3 */
.post3 .javascript{
  max-width: 100%;
  display: flex;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 5px;
}
.post3_1{
    margin: 0;
    text-align: justify;
}

.post3 .botao{
    background-color: rgba(0, 0, 0,.50);
    color: rgb(231, 229, 229);
    border: 0;
    padding: 5px 10px;
    margin: 0;
    margin-top: 12px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
}
.post3 .botao:hover{
    background-color: #4b0082;
}
.post3 .selecao{
    background-color: rgba(0, 0, 0,.50);
    color: white;
    margin: 0;
    margin-top: 12px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px 5px;
    border-radius: 50px;
}
.post3 .selecao:hover{
    background-color: rgba(0, 0, 0,.80);
}

.post3 .botoes{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content:space-between;
    max-width: 300px;
}

/*roda pé*/
.footer p{
    margin: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    }
.informacoes{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
.contato{
    display: flex;
    width: 50%;
    margin-left: 25%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
.link{
    height: 2rem;
    width: 2rem;
    background-size: cover;
}
.link:nth-child(1){
    background-image: url(./img/github-logo2.png);
}
.link:nth-child(2){
    background-image: url(./img/gmail-logo.png);
    width: 3rem;
    height: 2rem;
}
.link:nth-child(3){
    background-image: url(./img/linkedin-logo.png);
}
.link:nth-child(4){
    background-image: url(./img/fb-logo.png);
}
.link:nth-child(5){
    background-image: url(./img/Insta-logo.png);
}


